@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Overpass", sans-serif;
  background-image: url(./components/svg/white.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
iframe {
  border-radius: 40px;
}
.customblur {
  border-radius: 40px;
  border-bottom: 2px solid orangered;
  border-top: 2px solid orangered;
  backdrop-filter: blur(5px);
  height: fit-content;
  padding: 3em;
}

css-doodle {
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
  .customblur {
    text-align: center;
    padding: 0em;
  }
}
