@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Overpass", sans-serif;
  background-image: url("./components/svg/white.webp");
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  background-color: rgb(204, 171, 171);
}
body::-webkit-scrollbar {
  display: none;
}
.navbuttons {
  background-color: rgba(251, 251, 251, 0.958);
  border: 1px solid rgb(0, 0, 0);
}
.navbuttons:hover {
  transform: scale(1.05);
}
/* dropdown menu */

.sub-menu {
  transform: translateY(-150%);

  top: 100%;
  left: 50%;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}
.sub-menu:hover {
  visibility: visible;
}
.menu:hover .sub-menu,
.menu:focus-within .sub-menu,
.menu:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 4;
  transform: translateY(-14%);

  transition: 0.1s ease-in;
}

@media screen and (max-width: 800px) {
  .sub-menu {
    transform: translateY(-150%);

    top: 0%;
    left: 50%;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
  }
}
